// Libs

@import "common_css_libs/bootstrap-grid-1200px-60cols/bootstrap-grid-1200px-60cols";

// Custom

@import "fonts";
@import "home";

body {
  background-image: url("../img/Rydic.jpg");
  font-family: "RobotoRegular";
}

.boxes-wrap {
  border-radius: 4px;
  box-shadow: black 1px 1px 1px;
  transform: rotate(7deg);
}

a {
  display: flex
}

body{
  background: none;
}